.container {
    position: relative;
}
.container section.places {
    padding: 20px 0;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    z-index: -2;
}

.container section.places h1:first-of-type {
    font-size: 30px;
    width: 100%;
    margin-left: 15px;
}

.container section.places > article {
    width: 390px;
    padding: 20px;   
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    text-align: center;   
}

.container section.places > article > h2{
    font-size: 30px;
}